.about-container{
  position: relative;
  overflow-x:hidden;

  .about-spacer{
    height: 10vh;
    width: 50%;
    border-right: 1px solid gray
  }

  .about-container-right{
    width: 30%;
    border-left: 1px solid gray;
    border-right: none;
    margin-left: 50%;

    .off-right{
      transform: translateX(50vw);
    }

    .question{
      margin-left: 10%;
      transform:translateX(0);
      transition: transform .2s cubic-bezier(0, 0.48, 1, 1);
    }

    .answer{
      margin-left: 10%;
      transform:translateX(0);
      transition: transform .8s cubic-bezier(0, 0.48, 1, 1);
    }
  }

  .about-container-left{
    width: 30%;
    border-right: 1px solid gray;
    border-left: none;
    margin-left: 20%;

    .off-left{
      transform: translateX(-50vw);
      transition: transform .4s cubic-bezier(0, 0.48, 1, 1);
    }

    .question{
      transform:translateX(0);
      transition: transform .4s cubic-bezier(0, 0.48, 1, 1);
    }

    .answer{
      transform:translateX(0);
      transition: transform .7s cubic-bezier(0, 0.48, 1, 1);
    }

  }
}