.about-container{
  position: relative;
  overflow-x:hidden;
  

  .about-spacer{
    height: 15vh;
    width: 50%;

  }

  .about-spacer-v2{
    height: 15vh;
    width: 50%;

  }

  .about-container-right{
    width: 30%;
    border-right: none;
    margin-left: 50%;


    .off-right{
      transform: translateX(50vw);
      transition: transform .4s cubic-bezier(0, 0.48, 1, 1);
    }

    .question{
      margin-left: 10%;
      transform:translateX(0);
      transition: transform .2s cubic-bezier(0, 0.48, 1, 1);
      margin-bottom: 5%;
      border-bottom: 1px solid gray;
    }

    .answer{
      margin-left: 10%;
      transform:translateX(0);
      transition: transform .8s cubic-bezier(0, 0.48, 1, 1);
      margin-bottom: 5%
    }
  }

  .about-container-left{
    width: 30%;
    border-left: none;
    margin-left: 20%;

    .off-left{
      transform: translateX(-50vw);
      transition: transform .4s cubic-bezier(0, 0.48, 1, 1);
    }

    .question{
      margin-right: 10%;
      transform:translateX(0);
      transition: transform .2s cubic-bezier(0, 0.48, 1, 1);
      margin-bottom: 5%;
      border-bottom: 1px solid gray;
    }

    .answer{
      margin-right: 10%;
      transform:translateX(0);
      transition: transform .8s cubic-bezier(0, 0.48, 1, 1);
      margin-bottom: 5%
    }

  }
}