.projects-container{
  position: relative;
  overflow-x:hidden;
  border-top: 1px solid gray;

  .spacer-div{
    height: 10vh;
    width: 50%;
    border-right: 1px solid gray
  }

  .row{
    display: flex;
  }
}

.project-container{
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid gray;
  border-left:none;
  border-right:none;
  
  p{
    width: 40%;
    text-align: center;
    transition: transform .4s cubic-bezier(0, 0.48, 1, 1);
    transform: rotateY(90deg);
  }

  .view{
    transform: translateX(0vw);
  }


  #project-image{
    width: 40%;
    height: auto;
    transition: transform .4s cubic-bezier(0, 0.48, 1, 1);
  }

  .off-left{
    transform: rotateY(-90deg);
  }

  .off-right{
    transform: rotateY(-90deg);
  }
}

.show{
  border-left: 1px solid gray;
  border-right: 1px solid gray
}

