.projects-container{
  position: relative;
  overflow-x:hidden;
  border-top: 1px solid gray;
  padding-top: 10vh;

  h2{
    font-family: 'Roboto Slab', serif;
    text-align: center;
    font-size: 8vh;
    padding-bottom: 5vh;
  }

  .spacer-div{
    height: 10vh;
    width: 50%;
    border-right: 1px solid gray
  }

  .row{
    display: flex;
    height: 40vh;
    width: 100vw;
  }

  @media screen and (max-width: 768px){
    h2{
      font-size: 7vh;
    }

    .row{
      flex-direction: column;
      align-items: center;
    }

    .project-container{
      flex-direction: column;
      width: 75%;

      #project-image{
        width: 90%;
      }
      p{
        order: 2;
        width: 70%
      }
    }
  }
}

.project-container{
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-left: auto;
  margin-right: auto;
  border-left:none;
  border-right:none;
  color: white;
  background-color: transparent;
  padding: 3%;
  margin: 2%;
  
  .inner-project-right,
  .inner-project-left{
    position: relative;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    width: 100%;
    height: 100%;
    background-color: rgb(46, 46, 46);

  }

  &:hover .inner-project-right{
    transform: rotateY(180deg) scale(2) translateX(100px);
    z-index: 10;
    position: relative;
  }

  &:hover .inner-project-left{
    transform: rotateY(180deg) scale(2) translateX(-100px);
    z-index: 10;
    position: relative;
  }
  .project-back,
  .project-front{
    position: absolute;
    width: 100%;
    height:100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    opacity: .99;

  }

  .project-back{
    transform: rotateY(180deg);
  }
  p{
    width: 40%;
    text-align: center;
    transition: transform .4s cubic-bezier(0, 0.48, 1, 1);
  }

  .view{
    transform: translateX(0vw);
  }


  #project-image{
    width: 40%;
    height: auto;
    transition: transform .4s cubic-bezier(0, 0.48, 1, 1);
  }

  .off-left{
    transform: rotateX(-90deg);
  }

  .off-right{
    transform: rotateX(-90deg);
  }
}

