.technologies{
  width: 50vw;
  
}

.technology-logos {
  img{
    width: 15%;
    margin: 1%;
  }
  #git, #webpack #node, #express, #mongo, #jQuery{
    width: 20%;
    margin: 1.5%
  }
}

#css{
  width: 10.5%;
}