.welcomeModal{
  background-color: black;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  overflow: hidden;

  h2{
    color:white;
  }
  
  h3{
    color: white
  }

  button{
    border-radius: 2px;
    width: 8%;
    height: 4%;
  }
}
