@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab&display=swap');

.welcomeModal{
  display: flex;
  top: 0;
  left: 0;
  z-index: 5;
  overflow: hidden;
  width: 100%;
  height: 100%;

  .modal-intro-right{
    margin-top:20vh;
    margin-left: 10vw;
    button{
      width: 20vw;
      border-radius: 2px;
      width: 60%;
      height: 5vh;

    }

  }

  .modal-intro-left{
    
    text-align: center;
    position: absolute;
    width: 40%;
    left: 25vw;
    top:20vh;

    h2{
      font-size: 6vh;
      color:black;
      font-family: 'Roboto', sans-serif;
      margin-bottom: 1vh;

    }
    
    h3{
      color: black;
      font-family: 'Roboto', sans-serif;
      margin-bottom: 1vh;

    }

  }

  .block-1,
  .block-2,
  .block-3,
  .block-4{

    display: block;
    position: fixed;
    z-index:10;
    transition: transform 1s cubic-bezier(0.97, 0.15, 0.31, 0.74);
  }

  .block-1{
    height: 15vh;
    width: 100vw;
    transition-delay: 2s;

  }

  .block-2,
  .block-3{
    height: 55vh;
    width: 50vw;
    top: 15vh;
    transition-delay: 1s;

  }

  .block-3{
    left: 50vw;
  }

  .block-4{
    display: flex;
    width: 100vw;
    height: 30vh;
    top: 70vh;
    transition-delay: 3s;
    justify-content: space-evenly;

    a{
      margin-top: 15vh;
    }

  }

  // Mobile

  .mobile-modal-left{
    flex-direction: column;
    align-items: center;
  }

  .mobile-modal-left,
  .mobile-modal-right{
    display: flex;
    justify-content: space-around;
  }

  .mobile-block-1,
  .mobile-block-2,
  .mobile-block-3{
    display: block;
    position: fixed;
    z-index:10;
    transition: transform 1s cubic-bezier(0.97, 0.15, 0.31, 0.74);

  }

  .mobile-block-2,
  .mobile-block-1{
    width: 50vw;
    height: 80vh;
    transition-delay: 500ms
  }

  .mobile-block-2{
    margin-left: 50vw;
  }


  .mobile-block-3{
    margin-top: 80vh;
    height: 20vh;
    width: 100vw;
    border: 1px solid green;
    transition-delay: 1.5s;
  }

}

.off-screen{

  .block-1{
    background-color: rgb(215, 235, 248);
    transform: translateY(-100vh);
    border-bottom: 1px solid black

  }

  .mobile-block-1,
  .block-2{
    background-color: rgb(255, 255, 255);
    transform: translateX(-100vw);
    border: 1px solid black

  }

  .mobile-block-2,
  .block-3{
    background-color: rgb(215, 235, 248);
    transform: translateX(100vw);
    border: 1px solid black

  }

  .mobile-block-3,
  .block-4{
    background-color: rgb(255, 255, 255);
    transform: translateY(100vh);
    border-top: 1px solid black
  }


}
